.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.min-h-screen {
  min-height: 100vh;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.text-6xl {
  font-size: 6rem;
}

.font-bold {
  font-weight: bold;
}

.mt-3 {
  margin-top: 0.75rem;
}

.text-2xl {
  font-size: 2rem;
}

.mt-6 {
  margin-top: 1.5rem;
}
